@import '~Stylesheets/core.scss';

.main {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  font-family: $default-font-family;
  width: 100%;
  @include mediaWidth();
}

.mainContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
