@import '~Stylesheets/core.scss';

.header {
  color: $white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: nowrap;
  font-family: $default-font-family;
  font-size: $font-size-large;
  width: 100%;
  @include mediaWidth();
}

.headerContainer {
  align-items: center;
  background: $header-bg-color;
  display: flex;
  flex-direction: row;
  height: 55px;
  justify-content: center;
  position: fixed;
  width: 100%;
}
