// fonts
$default-font-family: 'Helvetica', 'Verdana', sans-serif;

// font sizes
$font-size-large: 20px;
$font-size-largest: 36px;

// font weights
$fw-light: 300;

// colors
$blue: #248ec4;
$purple: #3f51b5;
$white: #fff;
$gray: rgb(236, 236, 236);

$transparent-black: rgba(0, 0, 0, 0.57);

$header-bg-color: $blue;

// padding
$default-padding: 16px 16px;

// card shadow
$card-shadow: 0 0 14px rgba(0, 0, 0, 0.24), 0 14px 28px rgba(0, 0, 0, 0.48);
$card-border-radius: 2px;
